.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 40px;
  right: 80px;
  min-width: 120px;
  background-color: white;
  box-shadow: 1px 3px 10px 0 grey;
  z-index: 1;
  font-size: 14px;
  text-decoration: none;

  .menu-item {
    padding: 10px 5px;

    a {
      text-decoration: none;
      font-size: inherit;
    }


    &:hover {
      background-color: rgba(0,173,238,0.25);
      cursor: pointer;
    }
  }
}
