@import '../../../../variables/_colors';

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  .login-input {
    margin: 10px 0;
    padding: 5px 5px;
    border: none;
    border-bottom: $light-grey 1px solid;
    width: 250px;
  }

  .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-msg {
    color: red;
    font-size: 12px;
  }
}
