.controls {
  width: 160px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  width: 30px;
  height: 30px;
}

.notifications {
  background-image: url('../../../../assets/notifications.svg');
}

.add-button {
  content: url('../../../../assets/add_book.svg');
}
