@import '../../../../../variables/_colors';

.book-details {
  display: flex;

  .book-cover {
    margin: 0 20px 0 0;
    height: 270px;
    width: 180px;

    &.no-cover {
      background: $light-grey url('../../../../../assets/default_book.svg') center no-repeat;
    }
  }

  .book-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details-title {
      font-size: 20px;
      font-weight: bold;
    }

    .details-subtitle {
      font-size: 16px;
    }

    .book-review {
      line-height: 20px;
      margin: 0 0 12px 0;
      color: $grey;
    }

    .rent-button {
      height: 40px;
      width: 190px;
      background-color: $blue;
      border-style: none;
      color: $white;
      font-size: 20px;
    }
  }
}
