@import '../../../../variables/_colors';

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .signup-input {
    border: none;
    border-bottom: $light-grey 1px solid;
    margin: 10px 0;
    padding: 5px;
    width: 250px;
  }
}
