@import '../../../../../../variables/_colors';

.back-link {
  margin: 30px;
  text-decoration: none;
  position: absolute;
  left: 40px;
  top: 80px;
}

.section {
  padding: 30px 0;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  color: $green;
  margin: 0 0 30px 0;
}

.section-subtitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;
}
