@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './variables/_colors';

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;

  &:focus {
    outline: none;
  }
}

.wb-logo {
  content: url('./assets/wbooks_logo.svg');
  width: 300px;
  margin: 20px 0;
}

button {
  height: 40px;
  width: 190px;
  border-style: none;
  margin: 25px 0 15px 0;
  color: $white;
  font-size: 20px;
  border-radius: 4px;

  &:disabled {
    background-color: grey;
  }
}

.green-background {
  background-color: $green;

  &:active {
    background-color: $dark-green;
  }
}

.blue-background {
  background-color: $blue;

  &:active {
    background-color: $dark-blue;
  }
}

.red-background {
  background-color: $red;

  &:active {
    background-color: $dark-red;
  }
}

.book-cover {
  height: 182px;
  width: 128px;
}

.mini-book-cover {
  height: 124px;
  width: 87px;
  margin: 0 27px;
}

.no-cover {
  background: $light-grey url('./assets/default_book.svg') center no-repeat;
}

.error-msg {
  color: red;
  font-size: 12px;
}

.user-avatar {
  background-color: #aaa;
  width: 40px;
  height: 40px;
  border-radius: 100px;

  &.big-avatar {
    width: 105px;
    height: 105px;
  }
}
