@import '../../../../../variables/_colors';

.book-list {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0 ;

  .book-card {
    margin: 20px 35px;
    width: 128px;
    height: 230px;
    color: inherit;
    text-decoration: none;
  }

  .book-title {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }

  .book-author {
    font-size: 12px;
  }
}
