.comment-area {
  margin: 40px 30px;
  display: flex;
}

.comment-element {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 30px;
}

.comment-date {
  font-size: 12px;
  margin: 0 0 10px 0;
}
