@import '../../../../variables/_colors';

.suggestions {
  padding: 30px 0;
  border-width: 2px 0;
  border-color: $blue;
  border-style: solid;
  color: $green;

  .section-title {
    font-size: 20px;
    font-weight: bold;
    color: $green;
  }
}
