.controls {
  width: 160px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .control {
    width: 30px;
    height: 30px;
  }

  .notifications {
    content: url('../../../assets/notifications.svg');
  }

  .add-button {
    content: url('../../../assets/add_book.svg');
  }
}

.user-control {
  background-color: #aaa;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
