@import 'colors';

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.nav {
	height: 90px;
	width: 100%;
	position: fixed;
	box-shadow: 0px 5px 10px $grey;

	.nv-logo {
		width: 15%;
		float: left;
		padding-top: 20px;
		padding-left: 25px;
	}

	.nv-text {
		font-size: 2em;
		float: right;
		padding-top: 20px;
		padding-right: 25px;
	}
}