
body {
	font-family: 'Roboto', sans-serif;
}

.nav {
	height: 90px;
	width: 100%;
	padding: 0 25px;
	position: fixed;
	box-shadow: 0px 5px 10px $grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white; 
	z-index: 1;

	.nv-logo {
		width: 250px;
	}

	.nv-text {
		font-size: 35px;
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	padding: 50px 100px;
	max-width: 1500px;
	margin: 0 auto;

	.title {
		margin: 120px 0 100px 60px;
	
		.section-title {
			font-size: $font-big;
			position: relative;
			top: 30px;
			left: 60px;
		}
		
		&::before {
		    background-image: url('assets/triangle.svg') ;
		    background-size: $triangle-height 90px;
		    display: inline-block;
		    width: $triangle-width; 
		    height: $triangle-height;
		    content:"";
		    position: absolute;
		}
	}


	.techs {
		width: 100%;
		display: grid;
		grid-template-columns: 450px 200px auto;
		grid-template-rows: repeat(3, max-content);
		grid-column-gap: 40px;

		.tech-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px;
			padding: 20px 20px;
			border-radius: 5px;
			width: 225px;
			text-align: center;
			line-height: 30px;
			position: relative;

			&.first-card {
				grid-column: 1 / 2;
				grid-row: 1 / 4;
				justify-self: end;
				align-self: center;
				border-right: 2px solid $green;
				height: 100%;
				display: flex;
				justify-content: center;
			}

			.tech-logo {
				height: $tech-logo-size;
				width: $tech-logo-size;
				margin: 0 0 15px 0;

			}

			.tech-title {
				font-size: 16px;
				margin: 0 0 15px 0;
				
			}

			.tech-subtitle {
				font-weight: bold;
				margin: 0 0 30px 0;
			}

			.tech-desc {
				line-height: 20px;
			}
		}
	}	
}

.footer {
	height: $footer-height;
	width: 100%;
	background-color: $blue;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;


	.footer-form {
		height: 100%;
		padding: 20px 0;
		font-size: $font-big;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.form-text {
			text-align: center;
		}
	
		.form-input {
			border-radius: 8px;
			width: 300px;
			height: 30px;
		}

		.form-button {
			background-color: $blue;
			border: 1px solid white;
			border-radius: 8px;
			padding: 15px 30px;
			color: white;
		}	
	}

	.footer-copyright {
		background-color: $grey;
		width: 100%;
		text-align: right;
		font-size: $font-small;
	}	
}