
body {
	font-family: 'Roboto', sans-serif;
}

.nav {
	height: 90px;
	width: 100%;
	padding: 0 25px;
	position: fixed;
	box-shadow: 0px 5px 10px $grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white; 
	z-index: 1;

	.nv-logo {
		width: 250px;
	}

	.nv-text {
		font-size: 35px;
	}
}

.main-content {
	padding: 50px 100px;

	.title {
		margin: 100px 0 0 0;
		display: grid;
		grid-template-columns: [col1-start] 100px [col1-end col2-start] 65px [col2-end col3-start] auto [col3-end];
		align-items: center;

		.triangle {
			grid-column: col2-start / col2-end;
			height: $triangle-height;
			width: $triangle-width;
		}

		.section-title {
			grid-column: col3-start / col3-end;
			font-size: 25px;
		}
	}

	.techs {
		width: 100%;
		display: grid;
		grid-template-columns:
			[col1-start] 500px 
			[col1-end col2-start] 200px
			[col2-end col3-start] auto
			[col3-end];
		grid-template-rows: [row1-start] 33% [row1-end row2-start] 33% [row2-end row3-start] auto [row3-end];
		grid-column-gap: 40px;

		.tech-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10px;
			padding: 20px 20px;
			border-radius: 5px;
			width: 225px;
			text-align: center;
			line-height: 30px;
			position: relative;

			&.col1 {
				grid-column: col1-start / col1-end;
				grid-row: row1-start / row3-end;
				justify-self: end;
				align-self: center;
				border-right: 2px solid $green;

				&.first-card {
					height: 100%;
					display: flex;
					justify-content: center;
				}
			}

			&.col2 {
				grid-column: col2-start / col2-end;
				justify-self: start;
				align-self: center;
			}

			&.col3 {
				grid-column: col3-start / col3-end;
				justify-self: start;
				align-self: center;
			}

			.tech-logo {
				height: $tech-logo-size;
				width: $tech-logo-size;
				margin: 0 0 15px 0;

			}

			.tech-title {
				font-size: 16px;
				margin: 0 0 15px 0;
				
			}

			.tech-subtitle {
				font-weight: bold;
				margin: 0 0 30px 0;
			}

			.tech-desc {
				line-height: 20px;
			}
		}
	}	
}

.footer {
	height: $footer-height;
	background-color: $blue;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;


	.footer-form {
		height: 100%;
		padding: 20px 0;
		font-size: $font-big;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		.form-text {
			text-align: center;
		}
	
		.form-input {
			border-radius: 8px;
			width: 300px;
			height: 30px;
		}

		.form-button {
			background-color: $blue;
			border: 1px solid white;
			border-radius: 8px;
			padding: 15px 30px;
			color: white;
		}	
	}

	.footer-copyright {
		background-color: $grey;
		width: 100%;
		text-align: right;
		font-size: $font-small;
	}	
}