.login-page {
  margin: 250px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wb_logo {
    content: url('../../assets/wbooks_logo.svg');
    width: 300px;
    margin: 20px 0;
  }

  .signup-link {
    margin: 10px 0 0 0;
  }
}
